<div class="my-cart">
  <ul>
    {{#each cart.cartProducts as |product|}}
      <li>
        {{product.name}} {{product.quantity}}
        <button {{action "remove" product}}>Remove</button>
      </li>
    {{/each}}
  </ul>
  <div class="total-price">
    {{#if cart.totalPrice}}
      Total amount:{{cart.totalPrice}}$
    {{else}}
      <p class="no-items" >There are currently no items in your cart</p> 
  {{/if}}
  </div>
</div>

